<config>

<!-- CPU frequency (MHz) on which this relayer is running, can get by "cat /proc/cpuinfo" -->
<CPU_frequency>2526.793</CPU_frequency>

<!-- 1: enable relayer log, 0: disable relayer log. log is time consuming, it may interrupt pkt transmit -->
<enable_log>0</enable_log>

<number_of_pairs>1</number_of_pairs>

<!-- propagation delay in ms, this delay should be larger than 1 -->
<propagation_delay>100</propagation_delay>


<!-- bandwidth in kb/s, should be smaller than 50000 due to system limitations -->
<bandwidth>10000</bandwidth>

<!-- buffer size in number of packets, delay bandwidth product is recommended, RTT * bandwidth -->
<buffer_size>25</buffer_size>

<pairs>
  <pair>
   <sender>
     <src>localhost:10000</src>
     <dst>localhost:50001</dst>
   </sender>
   <receiver>
     <src>localhost:20000</src>
     <dst>localhost:50002</dst>
   </receiver>
  </pair>
</pairs>

</config>
